:root {
box-sizing: border-box;
width: 100%;
}

*,
::before,
::after {
box-sizing: inherit;
margin: 0;
padding: 0;
}

body {
  max-width: 100%;
  background: linear-gradient(45deg, yellow, rgb(25, 207, 50), orange,blue);
}


.App {  
  width: 100%;
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.cards {
  /* height: 80%; */
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

h2 {
  font-size: 2rem;
   /* display: flex;
   height: 20%;
   align-items: center;
   justify-content: center; */
}

.card {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.4em;
  height: 4em;
  border: 5px solid black;
  border-radius: 16px;
  cursor: grab;
  margin: 0.5em;
}



@media (min-width: 600px) {

  .card {
  font-size: 2rem;
  font-weight: 700;
  width: 6em;
  height: 10em;
  border: 5px solid black;
  border-radius: 16px;
  margin: 0 1em;
  }
}

@media (max-width: 400px) {
  .cards {
    flex-wrap: wrap;
  }
  .card {
  font-size: 2rem;
  font-weight: 700;
  width: 3em;
  height: 5em;
  border: 5px solid black;
  border-radius: 16px;
  margin: .5em 1em;
  }
}